prowjob_namespace: prow
pod_namespace: test-pods

in_repo_config:
  enabled:
    "*": true

deck:
 spyglass:
   lenses:
   - lens:
       name: metadata
     required_files:
     - started.json|finished.json
   - lens:
       config:
       name: buildlog
     required_files:
     - build-log.txt
   - lens:
       name: junit
     required_files:
     - .*/junit.*\.xml
   - lens:
       name: podinfo
     required_files:
     - podinfo.json

plank:
  job_url_prefix_config:
    "*": https://prow.nephew.io/view/
  report_templates:
    '*': >-
        [Full PR test history](https://prow.nephew.io/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
        [Your PR dashboard](https://prow.nephew.io/pr?query=is:pr+state:open+author:{{with
        index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      gcs_configuration:
        bucket: s3://prow-logs
        path_strategy: explicit
      s3_credentials_secret: s3-credentials
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20230322-fad14aa00d
        entrypoint: gcr.io/k8s-prow/entrypoint:v20230322-fad14aa00d
        initupload: gcr.io/k8s-prow/initupload:v20230322-fad14aa00d
        sidecar: gcr.io/k8s-prow/sidecar:v20230322-fad14aa00d

tide:
  queries:
  - labels:
    - lgtm
    - approved
    missingLabels:
    - needs-rebase
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - do-not-merge/invalid-owners-file
    orgs:
    - radochm
 
decorate_all_jobs: true
presubmits:
  - name: presubmit
    decorate: true
    always_run: true
    spec:
      containers:
      - image: alpine
        command:
        - /bin/ls
        args:
        - -ll
  - name: pre-test-infra-validate-job
    annotations:
    labels:
    run_if_changed: '^config/prow/((plugins|config).yaml|jobs/)'
    skip_report: false
    decorate: true
    cluster: default
    spec:
      containers:
        - image: "gcr.io/k8s-prow/checkconfig:v20230322-fad14aa00d"
          command:
            - "checkconfig"
          args:
            - "--plugin-config=config/prow/plugins.yaml"
            - "--config-path=config/prow/config.yaml"

